<h1><%=@user.full_name%>'s Confirmation Page</h1>

Full name: <%=@user.full_name%><br/>
Address: <%=@user.street_address%><br/>
City: <%=@user.city%><br/>
State: <%=@user.state%><br/>
Postal code: <%=@user.postal_code%><br/>
Country: <%=@user.country%><br/>
Email address: <%=@user.email_address%><br/>
User ID: <%=@user.user_id%><br/>
